<!-- Masthead -->
<header class="masthead">
	<div id="landingPageCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="2"
				aria-label="Slide 4"></button>
		</div>
		<!-- Slide 1 -->
		<div class="carousel-inner">
			<div class="carousel-item active" style="background-image: url('../../../assets/img/slide/Slide01.jpg')">
				<div class="carousel-caption">
					<h1 class="text-white font-weight-bold">Learn Ori Tahiti</h1>
					<hr class="divider" />
					<p class="text-white-75 mb-5">Get into the Polynesian culture.</p>
					<a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
				</div>
			</div>
			<!-- Slide 2 -->
			<div class="carousel-item" style="background-image: url('../../../assets/img/slide/Slide02.jpg')">
				<div class="carousel-caption">
					<h1 class="text-white font-weight-bold">Learn Hula</h1>
					<hr class="divider" />
					<p class="text-white-75 mb-5">Dive into the Hawaiian culture.</p>
				</div>
			</div>
			<!-- Slide 3 -->
			<div class="carousel-item" style="background-image: url('../../../assets/img/slide/Slide03.jpg')">
				<div class="carousel-caption">
					<h1 class="text-white font-weight-bold">Start as a begginer</h1>
					<hr class="divider" />
					<p class="text-white-75 mb-5">You'll have all the theory in one place. Practice the steps and put
						yourself to the test.</p>
					<a class="btn btn-primary btn-xl" href="#availableCourses">Explore our online courses</a>
				</div>
			</div>
			<!-- Slide 4 -->
			<div class="carousel-item" style="background-image: url('../../../assets/img/slide/Slide06.jpg')">
				<div class="carousel-caption">
					<h1 class="text-white font-weight-bold">Finish as an advanced dancer</h1>
					<hr class="divider" />
					<p class="text-white-75 mb-5">Participate in the end of the year festival.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#landingPageCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#landingPageCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</header>
<!-- About -->
<section class="page-section" id="about">
	<div class="container-fluid px-4 px-lg-5">
		<div class="row justify-content-center">
			<div class="col text-center">
				<h2 class="text-white mt-0">How does it work?</h2>
				<hr class="divider divider-light" />
				<p class="text-white-75 mb-4">Our online courses are easy to follow. If you're interested in the
					polynesian culture, or simply want to add high cardio exercices into your routines, don't think it
					over and book one of our courses!</p>
				<div class="content d-flex flex-column justify-content-center text-light mb-4">
					<div class="row">
						<div class="col icon-box">
							<i class="bi bi-book"></i>
							<h4>THEORY</h4>
							<p>Dive into the polynesian culture. Learn the basic concepts and steps, and up your level
								with every
								lesson</p>
						</div>
						<div class="col icon-box">
							<i class="bi bi-music-note-list"></i>
							<h4>PRACTICE</h4>
							<p>Put in practice what you've learned and improve your technique, resistance and
								flexibility.</p>
						</div>
						<div class="col icon-box">
							<i class="bi bi-camera-reels"></i>
							<h4>TEST</h4>
							<p>At the end of each lesson, test your skills doing a series of exercices designed by your
								tutor. Record it and send it to them.</p>
						</div>
						<div class="col icon-box">
							<i class="bi bi-card-checklist"></i>
							<h4>FEEDBACK</h4>
							<p>Get feedback from a professional dancer, who will analyse your moves and give you tips.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services -->
<section class="page-section" id="services">
	<div class="container-fluid px-4 px-lg-5 text-center">
		<div class="row justify-content-center">
			<div class="col text-center">
				<h2 class=" mt-0">So far so good</h2>
				<hr class="divider" />
				<p class="mb-1">Numbers speak for themselves. And it's thanks to you that we keep growing every year!
				</p>
			</div>
		</div>
		<div class="row content gx-4 gx-lg-5">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-emoji-smile fs-1 text-primary"></i></div>
					<div class="count-box">
						<h3 data-toggle="counter-up">268</h3>
						<p><strong>happy students</strong> have already taken a course with us</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-download fs-1 text-primary"></i></div>
					<h3 data-toggle="counter-up">20</h3>
					<p><strong>interesting presentations</strong> about the polynesian culture you can download and keep
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-discord fs-1 text-primary"></i></div>
					<h3 data-toggle="counter-up">200</h3>
					<p><strong>amazing dancers</strong> have joined our discord channel</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
					<h3 data-toggle="counter-up">10</h3>
					<p><strong>international festivals</strong> we have participated in as a school</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio -->
<section id="portfolio">
	<div class="container-fluid p-0 bg-primary text-center text-light">
		<div class="row justify-content-center">
			<div class="col text-center mb-4">
				<h2 class=" mt-0">Joss Daza & No'a No'a Barcelona</h2>
				<hr class="divider divider-light" />
				<p>Get to know me a little bit with the information that will appear when you hover on every image.
				</p>
				<p> <b> No'a no'a Barcelona</b> (El aroma de Barcelona en Tahitiano). <b>Noa</b> también significa
					libertad en
					Hawaiano.</p>
				<p> <b> Noa noa</b> fue como llamó a su diario de viaje el pintor posimpresionista Paul Gauguin cuándo
					visitó las
					islas del Sur.</p>
				<p> Él decía que las islas tenían el aroma de las mujeres: perfume mezclado de animales, plantas,
					feminidad y el
					aroma de tiare de sus cabellos.</p>
				<p><b>No'a Barcelona</b> es el aroma que surge de la mezcla de la esencia de cada integrante del grupo,
					es justo un diario de viaje que puede ofrecer el recorrido de la danza a partir de la cultura
					Polinesia.</p>
				<p>Es también cómo lo dice en Hawaiano, <b>sentir la libertad que ofrece el movimiento</b>. Ven a
					aprender con <b>No'a No'a Barcelona</b> y forma parte de ésta bella esencia.</p>
			</div>
		</div>
		<div class="row g-0 ">
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/7.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/7.jpg" alt="..." />
					<div class="portfolio-box-caption p-2">
						<div class="project-category text-white-50">Where passion is born</div>
						<br>
						<div class="project-name">Joss Daza, originaria de Ciudad de México, cuenta con una trayectoria
							de alrededor de diecisiete años practicando principalmente Hula y Ori Tahiti. Migra a
							Barcelona en 2015 y funda No'a No'a Barcelona 2 años después, al comenzar a madurar el
							proyecto.</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/8.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/8.jpg" alt="..." />
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">A close relationship with dancing</div>
						<br>
						<div class="project-name">"Migrar es un movimiento no solamente externo, si no también
							movimiento interno. Mueve tus bases más profundas y produce al igual que la danza buscar los
							puntos más importantes para mantener el equilibrio. La danza ha sido mi mejor y más fiel
							compañera de vida. Siempre me enseña algo nuevo, siempre me permite encontrar nuevos
							caminos, me busca un espacio y me ha permitido conocer de una manera más auténtica a
							diferentes personas a lo largo de éstos años.</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/9.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/9.jpg" alt="..." />
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">Career</div>
						<br>
						<div class="project-name">Comenzó su formación en Ballet Polinesio Bali, a cargo de la
							reconocida directora Clara Snell. Allí sembraron la pasión por la cultura Polinesia, bajo un
							trabajo arduo y constante durante 9 años, además de tener oportunidad de formar parte de
							proyectos a nivel Nacional a lo largo de la República Mexicana e Internacional, cómo el
							Tahiti Fete 2006 en Hilo Hawaii, obteniendo el primer lugar en grupo en categoría 'Aparima y
							ote'a.</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/12.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/12.jpg" alt="..." />
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">Further studies</div>
						<br>
						<div class="project-name">Posteriormente continua su formación en la Universidad del Valle de
							México, Campus Lomas Verdes, donde le ofrecen una beca por ser parte del grupo
							representativo de Danza Polinesia, a cargo de la profesora Denisse Suárez, teniendo
							oportunidad de pisar escenarios en distintas partes de la República Mexicana. Comienza a
							impartir talleres a nivel infantil en la Casa de Cultura de Atizapán de Zaragoza y distintos
							colegios.</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/11.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/11.jpg" alt="..." />
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">The journey continues</div>
						<br>
						<div class="project-name">She never stops dancing, even during the pandemic she participated in
							the virtual Heiva 'i Paris 2020 in the solo category.</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/10.jpg" title="Project Name">
					<img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/10.jpg" alt="..." />
					<div class="portfolio-box-caption p-3">
						<div class="project-category text-white-50">And what about the future</div>
						<br>
						<div class="project-name">Dancing is a never-ending journey with yourself and your fellow
							dancers. Her goal is to keep spreading the polynesian culture and hopefully you'll be a part
							of her future too!</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Testimonials -->
<section id="testimonials" class="testimonials text-center">
	<div class="container-fluid">
		<h2 class="mb-3 text-light">What people are saying...</h2>
		<hr class="divider divider-light">
		<p class="text-white-75 mb-3">The most convincing opinions are the ones from our students. That's why we've
			collected
			some for you:</p>
		<div class="row text-light">
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0 ">
					<img class="img-fluid rounded-circle mb-3"
						src="../../../assets/img/testimonials/testimonials-5.jpeg" alt="..." />
					<h5>Joy Ngo</h5>
					<p style="color:#ffd166ff;">Ori Tahiti & Hula</p>
					<p class="font-weight-light mb-0">"I love dancing Ori and Hula. It takes me to the Polynesia and I
						connect with
						myself and the earth in a different level"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3"
						src="../../../assets/img/testimonials/testimonials-4.jpeg" alt="..." />
					<h5>Anna Del Castillo</h5>
					<p style="color:#ffd166ff;">Ori Tahiti</p>
					<p class="font-weight-light mb-0">"I started dancing thanks to a friend and it has opened up a new
						world for me! Totally reccommended!"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3"
						src="../../../assets/img/testimonials/testimonials-6.jpeg" alt="..." />
					<h5>Emma Bona</h5>
					<p style="color:#ffd166ff;">Hula</p>
					<p class="font-weight-light mb-0">"Ever since I was a kid and I watched Lilo & Stitch I knew one day
						I'd dance Hula like them! I can't wait to travel to Hawai'i!"
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Courses to purchase -->
<section id="availableCourses" class="pricing py-5 page-section">
	<div class="container px-4 px-lg-5 ">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 col-xl-6 text-center">
				<h2 class="mt-0 text-center">Ready to start dancing?</h2>
				<hr class="divider" />
				<p class="mb-5">Ready to start learning Ori Tahiti and the polynesian culture with us?
					Select
					one of our courses below, and we will give you for free the Common Knowledge course!</p>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
			<!-- Common Knowledge -->
			<div class="col-lg-4">
				<div class="card h-100 mb-5 mb-lg-0" style="max-width: 100%;">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Common Knowledge</h5>
						<h6 class="card-price text-center">0€
						</h6>
						<p class="text-muted text-center period">Our present to you</p>
						<hr>
						<ul class="fa-ul">
							<li><i class="bi bi-check"></i>Basic vocabulary in Reo Tahiti</li>
							<li><i class="bi bi-check"></i>Dancing vocabulary in Reo Tahiti</li>
							<li><i class="bi bi-check"></i>The most important Polynesian festivities explained</li>
							<li><i class="bi bi-check"></i>Get to know the basic instruments</li>
							<li><i class="bi bi-check"></i>Music reccommendations</li>
							<li><i class="bi bi-check"></i>Film reccommendations</li>
							<li><i class="bi bi-check"></i>Downloadable presentations</li>
							<li><i class="bi bi-check"></i>Access to a playlist to use on your rehearsals.</li>
							<li><i class="bi bi-check"></i>Test yourself to assess your progress.</li>
							<li><i class="bi bi-check"></i>It's yours forever!!</li>
							<li class="text-muted"><i class="bi bi-x"></i>It doesn't grant you access to the in-person
								classes (for more information, please get in touch).</li>
						</ul>
					</div>
					<div class="card-footer">
						<div class="d-grid">
							<h6 class="text-center">
								Included with any course!
							</h6>
						</div>
					</div>
				</div>
			</div>
			<!-- Ori Tahiti Beginner -->
			<div class="col-lg-4">
				<div class="card h-100 mb-5 mb-lg-0" style="max-width: 100%;">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Ori Tahiti Beginner</h5>
						<h6 class="card-price text-center">30€<span class="period">/life</span></h6>
						<hr>
						<ul class="fa-ul">
							<li><i class="bi bi-check"></i>Grab your pareo and you're ready to go! (did you know the
								word "pareu" has a Tahitian origin?).</li>
							<li><i class="bi bi-check"></i>Learn much more from the imponent island percussion, dare to
								awake your movements inspired by nature, and elevate your energy and sensuality.</li>
							<li><i class="bi bi-check"></i>Learn the origin of the dance of Tahiti.</li>
							<li><i class="bi bi-check"></i>Image and text explanation of the basic Ori Tahiti steps.
							</li>
							<li><i class="bi bi-check"></i>Do's and don'ts of these steps.</li>
							<li><i class="bi bi-check"></i>The main goal is to get introduced into a new culture and
								exercice while you learn new movements.</li>
							<li><i class="bi bi-check"></i>The only things you need are the pareo and a shirt. Nothing
								else, you'll dance bare foot.</li>
							<li><i class="bi bi-check"></i>Feedback on your technique and tips to improve.</li>
						</ul>
					</div>
					<div class="card-footer">
						<div class="d-grid">
							<button type="button" id="oriBeginnerBtn" class="btn btn-primary text-uppercase"
								(click)="unlockACourse(2)">Unlock this course</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Ori Tahiti Advanced -->
			<div class="col-lg-4">
				<div class="card h-100 mb-5 mb-lg-0" style="max-width: 100%;">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Ori Tahiti Advanced</h5>
						<h6 class="card-price text-center">40€<span class="period">/life</span></h6>
						<hr>
						<ul class="fa-ul">
							<li><i class="bi bi-check"></i>Did you fall in love with the polynesian culture and want
								some more?</li>
							<li><i class="bi bi-check"></i>Whether you want to keep learning about the culture, the
								dance, perfectionate the technique or just
								want to have some more fun, this course is what you need.</li>
							<li><i class="bi bi-check"></i>The main goal is to keep growing as a dancer as well as
								improving your skills.</li>
							<li><i class="bi bi-check"></i>Image and text explanation of more advanced Ori Tahiti steps.
							</li>
							<li><i class="bi bi-check"></i>Do's and don'ts of these steps.</li>
							<li><i class="bi bi-check"></i>Feedback on your technique and tips to improve.</li>
							<li><i class="bi bi-check"></i>Remember, the only things you need are the pareo and a shirt.
								Nothing else, you'll dance bare foot.</li>
							<li><i class="bi bi-check"></i>BONUS: learn a beautiful choreography with the weekly videos
								we'll be posting.</li>
						</ul>
					</div>
					<div class="card-footer">
						<div class="d-grid">
							<button type="button" id="oriAdvancedBtn" class="btn btn-primary text-uppercase"
								(click)="unlockACourse(3)">Unlock this course</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- FAQs -->
<section id="faqs">
	<div class="container px-4 px-lg-5">
		<div class="row justify-content-center">
			<div class="col text-center">
				<h2 class="text-white mt-0">Frequently Asked Questions</h2>
				<hr class="divider divider-light" />
				<p class="text-white-75 mb-4">Most likely you have a question someone has asked us in the past, so we'll
					try to resolve the main doubts here, but if you have any other questions, please do not hesitate to
					get in touch.</p>
				<div class="content d-flex flex-column justify-content-center text-light mb-4">
					<div class="row">
						<div class="col">
							<div class="accordion accordion-flush" id="accordionFlushExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingOne">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
											aria-expanded="false" aria-controls="flush-collapseOne">
											Are the courses online or in person?
										</button>
									</h2>
									<div id="flush-collapseOne" class="accordion-collapse collapse"
										aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body text-dark">
											<p>
												Currently all the courses are online, except if you live in Barcelona.
												At the moment we're doing Hula
												on Wednesday at 19h, and Ori on Thursday at 20h00 at the Lavandula Espai
												in Lesseps. </p>
											<p>If you're interested in coming in person, please get in touch.
											</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingTwo">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
											aria-expanded="false" aria-controls="flush-collapseTwo">
											How do I start a course?
										</button>
									</h2>
									<div id="flush-collapseTwo" class="accordion-collapse collapse"
										aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body text-dark">
											<p>We'll try to keep it simple:</p>
											<p> <b>1.</b>Decide which course you want to do.</p>
											<p> <b>2.</b>Login to your student page.</p>
											<p> <b>3.</b>Purchase the course (Currently we accept Bizum or bank
												transfers.).</p>
											<p> <b>4.</b>Download the music folder so it's always available to you.</p>
											<p> <b>5.</b>Select the course.</p>
											<p> <b>6.</b>Read each lesson (you can download the presentations).</p>
											<p> <b>7.</b>Practice twice a week.</p>
											<p> <b>8.</b>Film yourself doing the test exercices.</p>
											<p> <b>9.</b>Upload the video into the drive we'll tell you.</p>
											<p> <b>10.</b>Receive feedback in a few days from the teacher and keep
												practicing.</p>
											<p> <b>Bonus.</b>Make sure you're into the discord channel to keep in touch
												with other students.</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingThree">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
											aria-expanded="false" aria-controls="flush-collapseThree">
											What equipment do I need exactly?
										</button>
									</h2>
									<div id="flush-collapseThree" class="accordion-collapse collapse"
										aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body text-dark">
											<p> <b> For Ori Tahiti:</b> a pareo (long or short, we'll teach you how to
												tie them both) and a comfy shirt.
												Optional: get a strength belt (we'll also show you how to make one, it's
												super easy and will make you even stronger!)
											</p>
											<p> <b>For Hula:</b> a pa'u (or a long skirt) and a comfy shirt.
											</p>
											<p> <b>For both: </b>a bottle of water, a towel for your sweat.
											</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingFour">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
											aria-expanded="false" aria-controls="flush-collapseFour">
											How do I know which level do I have?
										</button>
									</h2>
									<div id="flush-collapseFour" class="accordion-collapse collapse"
										aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body text-dark">
											<p> If it's your first time learning a dance with advanced hip movements,
												choose the begginner level. If
												you've danced bellydancing or a similar style, I'd still reccommend the
												begginners, but we can talk
												about it to decide which one is better for you. I want you to make the
												most out of your time, so it's
												important that you choose well.
											</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingFour">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
											aria-expanded="false" aria-controls="flush-collapseFive">
											Can I hire you for an event?
										</button>
									</h2>
									<div id="flush-collapseFive" class="accordion-collapse collapse"
										aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body text-dark">
											<p> <b> Absolutely! </b>If you're planning an event, whether it's social or
												work
												event, we can come and dance both
												Ori Tahiti and Hula and impress all your guests. Get in touch and we can
												discuss the details.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contact -->
<section class="page-section" id="contact">
	<div class="container px-4 px-lg-5 text-light">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 col-xl-6 text-center">
				<h2 class="mt-0">Let's Get In Touch!</h2>
				<hr class="divider" />
				<p class="mb-5">If you have any questions we haven't responded yet, or if you just want to say Hi, drop
					us a line and we'll be happy to talk !</p>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center mb-5 text-dark">
			<div class="col-lg-6">
				<!-- Contact Form -->
				<form [formGroup]="contactForm" id="contactForm">
					<!-- Name input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="contactFormUserName" type="text" formControlName="contactFormUserName"
							placeholder="Enter your name..."/>
						<label for="name">Full name</label>
						<div *ngIf="contactForm.controls['contactFormUserName'].invalid && (contactForm.controls['contactFormUserName'].dirty || contactForm.controls['contactFormUserName'].touched)"
							class="alert alert-danger">
							<div *ngIf="contactForm.controls['contactFormUserName'].errors?.['required']">
								A name is required.</div>
							<div *ngIf="contactForm.controls['contactFormUserName'].errors?.['minlength']">
								Minimum 2 characters.
							</div>
						</div>
					</div>
					<!-- Email address input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="email" type="contactFormEmail" placeholder="name@example.com"
							formControlName="contactFormEmail"/>
						<label for="email">Email address</label>
						<div *ngIf="contactForm.controls['contactFormEmail'].invalid && (contactForm.controls['contactFormEmail'].dirty || contactForm.controls['contactFormEmail'].touched)"
							class="alert alert-danger">
							<div *ngIf="contactForm.controls['contactFormEmail'].errors?.['required']">
								A name is required.</div>
							<div *ngIf="contactForm.controls['contactFormEmail'].errors?.['email']">
								It has to be a valid email format.
							</div>
						</div>
					</div>
					<!-- Message input-->
					<div class="form-floating mb-3">
						<textarea class="form-control" id="contactFormMessage" type="text" formControlName="contactFormMessage"
							placeholder="Enter your message here..." style="height: 10rem" ></textarea>
						<label for="message">Message</label>
						<div *ngIf="contactForm.controls['contactFormMessage'].invalid && (contactForm.controls['contactFormMessage'].dirty || contactForm.controls['contactFormMessage'].touched)"
							class="alert alert-danger">
							<div *ngIf="contactForm.controls['contactFormMessage'].errors?.['required']">
								A name is required.</div>
							<div *ngIf="contactForm.controls['contactFormMessage'].errors?.['minlength']">
								Minimum 10 characters.
							</div>
						</div>
					</div>
					<!-- Submit Button-->
					<div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="button" (click)="sendMessage(); reset(contactForm)" [disabled]="!contactForm.valid">Send</button></div>
				</form>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center contactDetails">
			<div class="col-lg-4 text-center mb-5 mb-lg-0 emailInfo" >
				<i class="bi bi-envelope"></i>
				<br>
				<a id="emailLink" href="mailto:noanoanobarcelona@gmail.com">noanoabarcelona@gmail.com</a>
			</div>
		</div>
	</div>
</section>